* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    font-size: 1rem;
}

#container {
    display: flex;
    justify-items: center;
    margin: auto;
    width: 90%;
    padding-top: 50px;

}

.grid_container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    padding: 10px;
    border-radius: 5px;
    width: 35%;
    height: 90vh;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 0px;
}

.btn {
    width: 100%;
    height: 300px;
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    
}

.grid-item
{
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.grid-item:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.grid-item:active {
    color: #000
}

.grid-item:active:after {
    background: transparent;
}

.grid-item:hover:before {
    opacity: 1;
}

.grid-item:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

    /* width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color {
    background-image: linear-gradient(to right, #fff800, #ff1361, #44107a, #231557);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
} */


#b1{
    background-color: #fff800;
    
}
#b2{
    background-color: #ff1361;
}
#b3{
    background-color: #44107a;
    color: white;
}
#b4{
    background-color: #fff800;
}
#b5{
    background-color: #ff1361;
}
#b6{
    background-color: #231557;
    color: white; 
}




